/*ou im allgemein.css (body& main)*/
body{
    background-color: #A97F67;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

main{
    display: grid;
    grid-template-columns: 40px repeat(12, 1fr) 40px;
    grid-auto-rows: 50px;
}


#SchildStartseite {
    height: 110%;
    grid-column: 2 / span 12;
    grid-row: 2 / span 14;
    margin: auto;
}

h1 {
    grid-column: 2 / span 12;
    grid-row: 2 /span 3;
    text-align: center; 
    font-size: 100px;
    font-family: "hoss-round", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(204, 153, 153);

}

h2 {
    grid-column: 2 / span 12;
    grid-row: 5 /span 1;
    text-align: center; 
    font-size: 130px;
    font-family: "hoss-round", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(204, 153, 153);
}

p{
    grid-column: 3 / span 10;
    grid-row: 3 / span 3;
    text-align: center;
    font-size: 20px;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#text{

    grid-column: 3 / span 10;
    grid-row: 26 / span 1;
    text-align: center;
    font-size: 20px;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*BLAUER BALKEN*/
/* Container für das Grid-Layout */
.container {
    display: grid; /* Aktiviert CSS Grid Layout */
    grid-template-rows: repeat(19, 1fr); /* Erstellt 19 gleich hohe Zeilen */
    height: 100vh; /* Höhe des Containers auf 100% setzen */
    width: 100vw; /* Breite des Containers auf 100% setzen */
}

/* Styling des blauen Balkens */
.blue-bar {
    grid-row: 19 / 20;
    background-color: #5f7e95; 
    width: 100%; /* Setzt die Breite auf 100%, um die ganze Breite zu decken */
    height: 50px; /* Höhe des Balkens */
    display: flex; /* Aktiviert Flexbox für zentrierte Ausrichtung */
    align-items: center; 
    overflow: hidden; /* Verhindert, dass der Text überläuft */
}

/* Styling des Texts, der sich bewegen soll */
.moving-text {
    display: flex; /* Aktiviert Flexbox innerhalb des Textcontainers */
    color: #c49b9a;
    /*Schrift*/
    font-size: 20px;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    white-space: nowrap; /* Verhindert Zeilenumbruch */
    animation: move 0s linear infinite; /* Animationseigenschaften */ /*HIE GSCHWINDIGKEIT VER
    NDERE*/
}
.moving-text span {
    margin-right: 250px; 
}

/* Definition der Animation */
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* *** */

/*KONTAKTFORMULAR*/
.formular {
    grid-area: 23 / 5 / span 7 / span 9;
}

form{
    max-width: 80%;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c49b9a;
}

input{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4PX 30PX rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: #c49b9a;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8vw;
}

select{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: #c49b9a;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8vw;
    margin-left: 0;
}

textarea{
    border-radius: 20px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    resize: none;

    color: #c49b9a;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8vw;
}

option{
    border-radius: 20px;
    color: black;
    font-family: "pill-gothic-600mg", sans-serif;
}

button{
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "pill-gothic-600mg", sans-serif;
    width: auto;
    height: auto;
}

label{
    display: block;
    margin-bottom: 8px;
    font-family: "pill-gothic-600mg", sans-serif;
    font-size: 18px;
}

input,
textarea,
select {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.success-message {
    background-color: #4CAF50;
    color: white;
    margin-top: 2.5%;
    padding: 12px 20px;
    border-radius: 20px;
    display: none;
}
