/* ou im allgemein.css (body& main) */
/* ALLGEMEINS */
body{
    background-color: #A97F67;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

main{
    display: grid;
    grid-template-columns: 40px repeat(12, 1fr) 40px;
    grid-auto-rows: 50px;
}


#SchildStartseite {
    height: 90%;
    grid-column: 2 / span 12;
    grid-row: 5 / span 12;
    margin: auto;
}

h1 {
    grid-column: 2 / span 12;
    grid-row: 6 /span 5;
    text-align: center; 
    font-size: 128px;
    font-family: "hoss-round", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #CC9999;
}

h2 {
    grid-column: 2 / span 12;
    grid-row: 5 /span 1;
    text-align: center; 
    font-size: 130px;
    font-family: "hoss-round", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(204, 153, 153);
}

p{
    grid-column: 3 / span 10;
    grid-row: 3 / span 3;
    text-align: center;
    font-size: 20px;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* ALLGEMEINS ENDE */

/* BLAUER BANNER */
#bannerFarbe {
    background-color: #568098;
    grid-column: 1 / span 14;
    grid-row: 20 / span 1;
}

#bannerText {
    color: #CC9999;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vh;
    grid-column: 1 / span 14;
    grid-row: 20 / span 1;
    align-self: center;
}
/* BLAUER BANNER ENDE */



#text{
    grid-column: 3 / span 10;
    grid-row: 40 / span 1;
    text-align: center;
    font-size: 20px;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/* *** */

/* KONTAKTFORMULAR */
.formular {
    grid-area: 25 / 4 / span 10 / span 9;
}

form{
    max-width: 80%;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #c49b9a;
}

#formularName, #formularEMail, #formularGrund, #formularNachricht {
    text-align: center; 
    font-size: 50px;
    font-family: "hoss-round", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: rgb(204, 153, 153);
}

input{
    border-radius: 11.66px;
    background: #5f7e95;
    /*backdrop-filter: blur(5px);*/
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: #c49b9a;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
}

/*select{ -> hei mer nümme dinne
    border-radius: 20px;
    background: #5f7e95;
    backdrop-filter: blur(5px); -> ds eigentlech usblände
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: #c49b9a;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8vw;
    margin-left: 0;
}*/

textarea{
    border-radius: 20px;
    height: 200px;
    background: #5f7e95;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /*backdrop-filter: blur(5px);*/
    border: 1px solid rgba(255, 255, 255, 0.3);
    resize: none;

    color: #c49b9a;
    font-family: "pill-gothic-600mg", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
}

/*option{
    border-radius: 199px;
    color: black;
    font-family: "pill-gothic-600mg", sans-serif;
}*/

button{
    border-radius: 20px;
    background-color: #5f7e95;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "pill-gothic-600mg", sans-serif;
    width: auto;
    height: auto;
}

label{
    display: block;
    margin-bottom: 8px;
    font-family: "pill-gothic-600mg", sans-serif;
    font-size: 18px;
}

input,
textarea,
select {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.success-message {
    display: none; /* Standardmäßig ausgeblendet */
    color: green;
    font-size: 1.2em;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 1.2em;
    margin-top: 10px;
}

/*.success-message {
    background-color: #4CAF50;
    color: white;
    margin-top: 2.5%;
    padding: 12px 20px;
    border-radius: 20px;
    display: none;
}*/

/*.contact-reason label { -> ke ahnig für was das steit
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}*/

/* Kontaktgrund */
.icon-grid {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.icon-container {
    text-align: center;
    position: relative; /* Für die absolute Positionierung der Hover-Icons */
}

.icon-container input {
    display: none; /* Versteckt das eigentliche Radio-Input */
}

.icon-container label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container img {
    max-width: 100px;
    margin-bottom: 5px;
    transition: opacity 0.3s ease;
}

.KontaktIcon.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.icon-container label:hover .KontaktIcon {
    opacity: 0;
}

.icon-container label:hover .KontaktIcon.hover {
    opacity: 1;
}

.icon-container input:checked + label .KontaktIcon {
    opacity: 0;
}

.icon-container input:checked + label .KontaktIcon.hover {
    opacity: 1;
}
/* KONTAKTFORMULAR ENDE */
