#SchildStartseite {
    height: 110%;
    grid-column: 2 / span 12;
    grid-row: 3 / span 14;
    margin: auto;
}

#Logo {
    height: 100%;
    grid-column: 7 / span 2;
    grid-row: 1 / span 3;
    align-content: center;
}

h1 {
    grid-column: 2 / span 12;
    grid-row: 3 /span 3;
    text-align: center; 
    font-size: 100px;
    font-family: "hoss-round", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #CC9999;
}

h2 {
    grid-column: 2 / span 12;
    grid-row: 7 /span 1;
    text-align: center; 
    font-size: 128px;
    font-family: "hoss-round", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #CC9999;
}

/* Banner Folgenankündigung */
#bannerFarbe {
    background-color: #568098;
    grid-column: 1 / span 14;
    grid-row: 20 / span 1;
}

#bannerText {
    color: #CC9999;
    font-family: pill-gothic, sans-serif;
    font-size: 4vh;
    grid-column: 1 / span 14;
    grid-row: 20 / span 1;
    align-self: center;
}

/* Schilder mit Facts */
.schilderFacts {
    height: 90%;
    width: 100%;
}
#geschichte {
    grid-column: 2 / span 3;
    grid-row: 23 / span 7;
}

#uhr {
    height: 20%;
    grid-column: 3 / span 1;
    grid-row: 23 / span 5;
    justify-self: center;
    padding-top: 10%;
}

.texteFacts {
    font-size: 2vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    font-family: "pill-gothic", sans-serif;
    color: #CC9999;
}
#geschichteText {
    grid-column: 2 / span 3;
    grid-row: 24 / span 1;
}


#zuUns {
    height: 90%;
    width: 75%;
    grid-column: 6 / span 4;
    grid-row: 23 / span 7;
    justify-self: center;
}
#tickets {
    height: 20%;
    grid-column: 7 / span 2;
    grid-row: 23 / span 5;
    justify-self: center;
    padding-top: 5%;
}
#zuUnsText {
    grid-column: 6 / span 4;
    grid-row: 24 / span 1;
    padding-left: 16%;
}

#ziel {
    grid-column: 11 / span 3;
    grid-row: 23 / span 7;
}
#standort {
    height: 20%;
    grid-column: 12 / span 1;
    grid-row: 23 / span 5;
    justify-self: center;
    padding-top: 10%;
}
#zielText {
    grid-column: 11 / span 3;
    grid-row: 24 / span 1;
}

/* Spotify aktuelle Folge */
#spotify {
    height: 100%;
    grid-column: 2 / span 12;
    grid-row: 33 / span 5;

}



  #blaueBox {
    grid-column: 1 / span 14;
    grid-row: 50 / span 16;
    background-color: #568098;
    overflow: hidden;
    position: relative;
  }
.lightwidget-widget {
    grid-column: 2 / span 12;
    grid-row: 50 / span 1;
    margin-top: 2.5%;
    width: 100%;
    border: 0;
    overflow: hidden;
    z-index: 1;
}



  .bt_carousel {
    grid-column: 2 / span 12;
    grid-row: 40 / span 5;
    height: 50vh;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.bt_carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.bt_carousel-item {
    min-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.bt_carousel-item img {
    max-width: 90%;
    position: relative;
}

.bt_carousel-item h3 {
    position: absolute; 
    top: 22%; 
    left: 5%;
    right: 15%; 
    padding: 0 10px; 
    color: #CC9999; 
    text-align: center;
    font-size: 2vw; 
    font-family: "pill-gothic", sans-serif;
}
.bt_carousel-item .langeTexte {
    top: 18%;
}


.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5680988d;
    color: #CC9999;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-button:hover {
    background-color: #568098;
}

#fahrenderZug {
    grid-row: 70 / span 5;
}
