#SchildStartseite {
    height: 110%;
    grid-column: 2 / span 12;
    grid-row: 3 / span 14;
    margin: auto;
}

#Logo {
    height: 100%;
    grid-column: 7 / span 2;
    grid-row: 1 / span 3;
    align-content: center;
}

h1 {
    grid-column: 2 / span 12;
    grid-row: 3 /span 3;
    text-align: center; 
    font-size: 7vw;
    font-family: "hoss-round", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #CC9999;
}

h2 {
    grid-column: 2 / span 12;
    grid-row: 7 /span 1;
    text-align: center; 
    font-size: 10vw;
    font-family: "hoss-round", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #CC9999;
}

/* Banner Folgenankündigung */
#bannerFarbe {
    background-color: #568098;
    grid-column: 1 / span 14;
    grid-row: 20 / span 1;
}

#bannerText {
    color: #CC9999;
    font-family: pill-gothic, sans-serif;
    font-size: 4vh;
    grid-column: 1 / span 14;
    grid-row: 20 / span 1;
    align-self: center;
}

/* Schilder mit Facts */
.schilderFacts {
    height: 100%;
    width: 100%;
}
#geschichte {
    grid-column: 2 / span 3;
    grid-row: 25 / span 7;
}

#uhr {
    height: 20%;
    grid-column: 3 / span 1;
    grid-row: 25 / span 5;
    justify-self: center;
    padding-top: 10%;
}
.texteFacts {
    font-size: 2vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    text-align: center;
    font-family: "pill-gothic", sans-serif;
    color: #CC9999;
}
#geschichteText {
    grid-column: 2 / span 3;
    grid-row: 26 / span 1;
}
#zuUns {
    height: 100%;
    width: 75%;
    grid-column: 6 / span 4;
    grid-row: 25 / span 7;
    justify-self: center;
}
#tickets {
    height: 20%;
    grid-column: 7 / span 2;
    grid-row: 25 / span 5;
    justify-self: center;
    padding-top: 5%;
}
#zuUnsText {
    grid-column: 6 / span 4;
    grid-row: 26 / span 1;
    margin-right: 6vh;
    padding-left: 16%;
}

#ziel {
    grid-column: 11 / span 3;
    grid-row: 25 / span 7;
}
#standort {
    height: 20%;
    grid-column: 12 / span 1;
    grid-row: 25 / span 5;
    justify-self: center;
    padding-top: 10%;
}
#zielText {
    grid-column: 11 / span 3;
    grid-row: 26 / span 1;
}

.buttonMehr {
    color: #CC9999;
    font-family: "pill-gothic", sans-serif;
    font-size: 2vh;
    text-decoration: none;
}
.buttonMehr:hover {
    color: #A97F67;
    cursor: pointer;
}
#projekt {
    grid-column: 2 / span 3;
    grid-row: 28 / span 1;
    text-align: center;
    margin-top: 6vh;
}
#uns {
    grid-column: 6 / span 4;
    grid-row: 28 / span 1;
    text-align: center;
    margin-top: 6vh;
}
#vision {
    grid-column: 11 / span 3;
    grid-row: 28 / span 1;
    text-align: center;
    margin-top: 6vh;
}




/* Spotify aktuelle Folge */
#spotify {
    height: 100%;
    grid-column: 2 / span 12;
    grid-row: 35 / span 8;
}


#blaueBox {
    grid-column: 1 / span 14;
    grid-row: 57 / span 16;
    background-color: #568098;
    overflow: hidden;
    position: relative;
}
.lightwidget-widget {
    grid-column: 2 / span 12;
    grid-row: 57 / span 1;
    margin-top: 2.5%;
    width: 100%;
    border: 0;
    overflow: hidden;
    z-index: 1;
}



.bt_carousel {
    grid-column: 2 / span 12;
    grid-row: 45 / span 5;
    height: 58vh;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.bt_carousel-item {
    min-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 8%;
}

.bt_carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.bt_carousel-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.bt_carousel-item img {
    max-width: 120%;
    height: 50vh;
}

.bt_carousel-item h3 {
    position: absolute;
    top: 22%;
    left: 20%;
    padding: 0 10px;
    color: #CC9999;
    text-align: center;
    font-size: 2vw;
    font-family: "pill-gothic", sans-serif;
}

.bt_carousel-item .langeTexte {
    top: 18%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5680988d;
    color: #CC9999;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-button:hover {
    background-color: #568098;
}

#fahrenderZug {
    grid-row: 75 / span 5;
}

.hidden {
    display: none;
}

.headerVisible {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    backdrop-filter: blur(10px); /* Blurry Effekt */
    -webkit-backdrop-filter: blur(10px); /* Blurry Effekt für Safari */
    z-index: 1000; /* Z-Index erhöhen, damit der Header über anderen Elementen bleibt */
    margin-top: 0;
}




@media screen and (max-width: 1024px) {
    #SchildStartseite {
        max-width: 100%;
        max-height: 80%;
        grid-row: 2 / span 14;

    }
    h1 {
        font-size: 7vw;
        grid-row: 3 /span 2;
    }
    h2 {
        grid-row: 6 /span 1;
        font-size: 10vw;
    }

    /*HEADER*/
    .headerLinks {
        font-size: 1.5vh;
    }
    #headerLogo {
        height: 10vw;
    }

    /*FOOTER*/
    .socialMediaIcon {
        height: 3vh;
        max-width: 3vh;
    }
    .footerText {
        font-size: 1.5vh;
    }
    #mail {
        font-size: 1.5vh;
    }

    /*BANNER*/
    #bannerFarbe {
        grid-row: 17 / span 1;
    }
    #bannerText {
        grid-row: 17 / span 1;
        font-size: 2.5vh;
    }

    /*FACTS*/
    .schilderFacts {
        grid-row: 22 / span 9;
    }
    #geschichte {
        grid-row: 22 / span 9;
    }
    #zuUns {
        grid-row: 22 / span 9;
    }
    #uhr {
        grid-row: 22 / span 9;
    }
    #tickets {
        grid-row: 22 / span 9;
    }
    #ziel {
        grid-row: 22 / span 9;
    }
    #standort {
        grid-row: 22 / span 9;
    }
    #zuUnsText {
        grid-row: 23 / span 1;
        margin-top: 15%;
        font-size: 1.5vw;
    }    
    #geschichteText {
        grid-row: 23 / span 1;
        margin-top: 20%;
        font-size: 1.5vw;
    }
    #zielText {
        grid-row: 23 / span 1;
        margin-top: 20%;
        font-size: 1.5vw;
    }
    .buttonMehr {
        font-size: 1.5vh;
        font-weight: bold;
        text-decoration: underline;
    }
    #projekt, #uns, #vision {
        grid-row: 25  / span 1;
        margin-top: 8vh;
    }

    #spotify {
        grid-row: 34 / span 8;
        max-height: 300px;
    }

    .bt_carousel {
        grid-row: 42 / span 5;
        max-height: 100%;
    }
    .bt_carousel-item h3 {
        font-size: 2.5vw;
        top: 15%;
        left: 20%;
    }
    .bt_carousel-item .langeTexte {
        font-size: 2.5vw;
        top: 14%;
        left: 20%;
    }
    #blaueBox {
        grid-row: 50 / span 10;
    }
    .lightwidget-widget {
        grid-row: 50 / span 1;
        margin-top: 1.5%;
    }
    #fahrenderZug {
        grid-row: 63 / span 4;
    }
}

@media (max-width: 545px) {
    #Logo {
        height: 90%;
        grid-column: 6 / span 3;
        grid-row: 1 / span 3;
        align-content: center;
        margin-top: 4%;
    }

    #SchildStartseite {
        max-width: 100%;
        max-height: 50%;
        grid-row: 1 / span 14;
        margin-top: 20%;
    }

    h1 {
        font-size: 7vw;
        grid-row: 3 /span 2;
        margin-top: 8%;
    }
    h2 {
        grid-row: 4 /span 1;
        font-size: 12vw;
        margin-top: 17%;
    }
    
    #bannerFarbe {
        grid-row: 13 / span 1;
    }
    #bannerText {
        grid-row: 13 / span 1;
        font-size: 3.5vh;
    }

    /*FACTS*/
    #geschichte {
    grid-row: 17 / span 3;
    }
    #zuUns {
    grid-row: 17 / span 3;
    }
    #ziel {
    grid-row: 17 / span 3;
    }
    #uhr {
    grid-row: 17 / span 4;
    margin-top: 10%;
    }
    #tickets {
    grid-row: 17 / span 4;
    margin-top: 10%;
    }
    #standort {
        grid-row: 17 / span 4;
        margin-top: 10%;
    }
    #zuUnsText {
        visibility: hidden;
    }    
    #geschichteText {
        visibility: hidden;
    }
    #zielText {
        visibility: hidden;
    }
    .buttonMehr {
        font-size: 2vh;
        font-weight: bold;
        text-decoration: underline;
    }
    #projekt, #uns, #vision {
        grid-row: 17 / span 1;
        margin-top: 9vh;
    }

    #spotify {
        grid-row: 23 / span 8;
    }

    .bt_carousel {
        grid-row: 31 / span 3;
        max-height: 100%;
    }
    .bt_carousel-item h3 {
        font-size: 2.5vw;
        top: 15%;
        left: 20%;
    }
    .bt_carousel-item .langeTexte {
        font-size: 2.5vw;
        top: 14%;
        left: 20%;
    }
    #blaueBox {
        grid-row: 37 / span 5;
    }
    .lightwidget-widget {
        grid-row: 37 / span 1;
        margin-top: 2%;
    }

    /*HEADER*/
    header {
        height: 5%; /* Reduziere die Höhe des Headers */
    }
    .headerLinks {
         font-size: 2.3vh; /* Verkleinere die Schriftgröße */
    }
    #headerLogo {
        height: 10vw; /* Verkleinere die Höhe des Logos */
    }
    #menu {
        margin-top: 2%; /* Verringere den oberen Rand des Menüs */
    }
        #left-menu, #right-menu {
            gap: 50px; /* Verringere den Abstand zwischen den Links */
            margin: 0 10px; /* Verringere die äußeren Abstände */
        }
        /*FOOTER*/
        .socialMediaIcon {
            height: 3vh;
            max-width: 3vh;
        }
        .footerText {
            font-size: 1.5vh;
        }
        #mail {
            font-size: 1.5vh;
        }

        #fahrenderZug {
            grid-row: 45 / span 2;
        }
}

@media (min-width: 300px) and (max-width: 430px) {
    #Logo {
        height: 60%;
        grid-column: 5 / span 2;
    }

    #SchildStartseite {
        max-width: 100%;
        max-height: 100%;
        grid-row: 1 / span 5;
        grid-column: 2 / span 12;
        margin-top: 20%;
    }

    h1 {
        font-size: 7vw;
        grid-row: 2 /span 2;
        margin-top: 18%;
    }
    h2 {
        grid-row: 3 / span 1;
        font-size: 12vw;
        margin-top: 20%;
    }

    #bannerFarbe {
        grid-row: 9 / span 1;
    }
    #bannerText {
        grid-row: 9 / span 1;
        font-size: 3vh;
    }

    /*FACTS*/
    #geschichte {
        grid-row: 12 / span 3;
        }
        #zuUns {
        grid-row: 12 / span 3;
        }
        #ziel {
        grid-row: 12 / span 3;
        }
        #uhr {
            visibility: hidden;
        }
        #tickets {
            visibility: hidden;
        }
        #standort {
            visibility: hidden;
        }
        #zuUnsText {
            visibility: hidden;
        }    
        #geschichteText {
            visibility: hidden;
        }
        #zielText {
            visibility: hidden;
        }
        .buttonMehr {
            font-size: 1.5vh;
            font-weight: bold;
            text-decoration: underline;
        }
        #projekt, #uns, #vision {
            grid-row: 11 / span 1;
            margin-top: 9vh;
        }
    
        #spotify {
            grid-row: 17 / span 4;
        }
    
        .bt_carousel {
            grid-row: 23 / span 3;
            max-height: 100%;
        }
        .bt_carousel-item h3 {
            font-size: 2.5vw;
            top: 15%;
            left: 20%;
        }
        .bt_carousel-item .langeTexte {
            font-size: 2.5vw;
            top: 14%;
            left: 20%;
        }
        #blaueBox {
            grid-row: 28 / span 3;
        }
        .lightwidget-widget {
            grid-row: 28 / span 1;
            margin-top: 2%;
        }

        #fahrenderZug {
            grid-row: 33 / span 2;
            margin-top: 10%;
        }

        /*FOOTER*/
        .socialMediaIcon {
            height: 2vh;
            max-width: 2vh;
        }
        .footerText {
            font-size: 1vh;
        }
         #mail {
            font-size: 1vh;
        }

        header {
            height: 5%; /* Reduziere die Höhe des Headers */
        }
    
        .headerLinks {
            display: none; /* Hide header links */
        }
    
        #headerLogo {
            display: none;
        }
        .logoHeader {
            display: block;
            height: 15vw;
        }

    
        #menu {
            margin-top: 2%; /* Verringere den oberen Rand des Menüs */
            width: 90%;
        }
    
        #left-menu, #right-menu {
            display: none; /* Hide left and right menus */
        }
    
        .burger-menu {
            display: block; /* Show the burger menu icon */
        }
    
        .dropdown-menu {
            display: flex; /* Show the dropdown menu */
            flex-direction: column;
        }
}